<!DOCTYPE html>
<html ng-app="ToDoList" lang="en">
<head>
    <meta charset="UTF-8">
    <met a name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="style.css" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Angular TODO</title>
</head>
<body>
    
    <div class="list-container">
        <h1>TODO List</h1>
        <p>A place to store the things you have to do!</p>

        <section ng-controller="ToDoInfo as info">
            <input type="text" placeholder="Filter your to-dos" ng-model= "search.task">

            <div class="listitems">
                <ol class="list">
                    <li ng-repeat="item in info.listitems | filter : search" ng-class="{'completed': item.completed === true}">
                        <!-- <div around list items and div around complete button and task name then display flex and space between</div> -->
                        <input ng-click="info.completeTask($index, item.completed);" ng-if= "item.completed === false" class="completebtn" type="button" value="Complete">
                        {{ item.task }}
                        <!-- Add button to focus where click can remove task more -->
                        <i class="material-icons edit" ng-click="info.editTask($index, info);">edit</i>
                        <i ng-click="info.removeTask($index)" class="material-icons delete">clear</i>
                    </li>
                </ol>
            </div>

            <div class="add-task">
                <form ng-submit="info.addTask(info.listitems.task);">
                    <input ng-model="info.listitems.task" type="text" placeholder="Add your to do">
                    <button class="addbtn" value="Add">Add</button>
                </form>
            </div>

            <form ng-submit="info.updateTask(info.tempIndex, info.tempTask);" ng-show="info.showForm">
                <input class="edit-input" type="text" ng-model="info.tempTask.task" placeholder="Edit Task">
                <a class="task-incomplete" href="" ng-click="info.inComplete(info.tempIndex, item.completed)">Mark Task Incomplete</a>
                <button class="edit-btn">Update the Item</button>
            </form>
        </section>

    </div>  


    <!-- AngularJS link must be above our module.js file -->
    <script src="https://code.angularjs.org/1.6.5/angular.min.js"></script>
    <!-- Module must be linked before controller -->
    <script src="todoApp.js"></script>
    <script src="TodoController.js"></script>
</body>
</html>